<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IViewStudentInfo">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.1.84:8081/ViewStudentInfo"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IViewStudentInfo"
                contract="FEIService.IViewStudentInfo" name="NetTcpBinding_IViewStudentInfo">
                <identity>
                    <userPrincipalName value="DESKTOP-DHB3R29\danse" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>